body {
    overflow-x: hidden; /* Prevent horizontal scrolling on the body */
    margin: 0; /* Remove default margin */
    background-color: whitesmoke;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.head {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #3DB2CC;
}
h1{
  color: azure;
}
#h3{
  color: #3DB2CC;
  padding: 0.5rem;
  padding-top: 1rem;
  background-color: azure;
  border-radius: 1rem;
  margin-top: 0.7rem;
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search--box {
   background: azure;
   border-radius: 15px;
   color: rgba(113, 99, 186, 255);
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 4px 12px;
   border: solid #3DB2CC 1px;
   margin-left: 1.5rem;
   width: 80%;
   margin-top: 0.1rem;
}
.search--box input {
   background: rgba(128, 128, 128, 0.192);
   border-radius: 0.8rem;
   width: 100%;
   padding: 10px;
   border: solid 1px #2ee1e7;
}
.search--box img {
 width: 30px;
 cursor: pointer;
 transition: all 0.5s ease-out;
}
.search--box i:hover {
 transform: scale(1.2);
}


.favorites {
    width: 100%;
}

.favorites h3 {
    margin-bottom: 10px;
}

.contact {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px 0;
}

.fav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.fav img {
    border-radius: 50%;
    border: dotted #3DCCBA;
}

.fav p {
    margin-top: 5px;
    text-align: center;
}

/* Hide scrollbar */
.contact::-webkit-scrollbar {
    display: none;
}
.button{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.contact {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    border-bottom: solid rgba(0, 0, 0, 0.205) 1px;
}

.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
  }
  
  .user-image {
    /* Add your image styling here */
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
  }
  .user-image img{
    margin: 0;
  }
  
  .info {
    display: flex;
  }
  .info p{
    font-size: 18px;
    margin-left: 10px;
  }
  
  .missed-call {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .name {
    font-weight: bold;
  }
  
  .time {
    font-size: 14px;
    color: #888;
  }
  .time-day{
    margin-right: 10px;
    padding-right: 10px;
  }
  .view{
    display: flex;
    gap: 1rem;
  }

  .my_calls[active="false"]{
    display: none;
  }

.recive_calls[active="false"]{
    display: none;
  }

  .my-button {
    margin-left: 1rem;
    background-color: azure;
    color: #87CEFA;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: azure 0.3s ease-in-out;
  }
  
  .my-button.active {
    background-color: #3DB2CC;
    color: azure;
  }

  /* footer style */
  
.footer{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: #3DB2CC;
}
.foot{
    width: 50px;
    height: 45px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    border: none;
    text-decoration: none;
}

.foot.active{
    width: auto;
    padding-left: 0.6rem;
    padding-right: 0.8rem;
    box-sizing: border-box;
    background-color: #2ee1e7;
    border-radius: 2rem;
    border: none;
}
span{
    margin-left: 0.4rem;
    margin-top: 0.5rem;
    position: relative;
    font-size: 24px;
    color: white;
}
button{
  font-size: 16px;
}
